<ion-content [fullscreen]="true">




  <div style="display: flex; align-items: center; margin-left: 20px; margin-top: 30px;">
    <h1 #animatedHeader class="animated-header" style="margin-right: 10px; font-size: 32px;">Escenarios</h1>
    <p style="color: white; opacity: 60%; margin-left: 110px; margin-top: 20px; font-size: 12px;">Wifi:Huawei-2.4G</p>
  </div>

  <p style="color: white; opacity: 60%; margin-left: 20px; margin-top: 0%; font-size: 17px;">Bodoque (Sensor)</p>


  <div id="main-content" class="ion-padding">
    <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 0px; justify-items: center;">
      <ion-card class="black-card" [routerLink]="['/noche']" style="width: 169px; height: 186px; color: #252B2B; opacity: 73%; border-radius: 24px; border: 2px solid rgba(255, 178, 103, 0.6); position: relative; z-index: 2;"> 
        <ion-card-header style="display: flex; justify-content: center; align-items: center;">
          <ion-img src="assets/imagenes/bodoque-noche.png" style="width: 100px; height: auto;"></ion-img>
        </ion-card-header>
        <ion-card-subtitle style="color: white;">Noche</ion-card-subtitle>
      </ion-card>
    
      <ion-card class="black-card" [routerLink]="['/fueradecasa']" style="width: 169px; height: 186px; color: #252B2B; opacity: 73%; border-radius: 24px; border: 2px solid rgba(255, 178, 103, 0.6); position: relative; z-index: 2;"> 
        <ion-card-header style="display: flex; justify-content: center; align-items: center;">
          <ion-img src="assets/imagenes/bodoque-playa.png" style="width: 100px; height: auto; padding-top: 10%;"></ion-img>
        </ion-card-header>
        <ion-card-subtitle style="color: white;">Fuera de casa</ion-card-subtitle>
      </ion-card>
    
      <ion-card class="black-card" [routerLink]="['/nomolestar']" style="width: 169px; height: 186px; color: #252B2B; opacity: 73%; border-radius: 24px; border: 2px solid rgba(255, 178, 103, 0.6); position: relative; z-index: 2;"> 
        <ion-card-header style="display: flex; justify-content: center; align-items: center;">
          <ion-img src="assets/imagenes/bodoque-llamada.png" style="width: 80px; height: auto;"></ion-img>
        </ion-card-header>
        <ion-card-subtitle style="color: white;">No molestar</ion-card-subtitle>
      </ion-card>
    </div>   
  </div>



  <footer style="position: fixed; bottom: 0; left: 0; width: 100%; z-index: 10;">
    <ion-tab-bar slot="bottom" style="border: 0;">
      <ion-tab-button tab="home" [routerLink]="['/home']">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="radio" [routerLink]="['/buscar']">
        <ion-icon name="search-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="library" [routerLink]="['/escenarios']">
        <ion-icon style="color: #FFB267;" name="apps-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="search" [routerLink]="['/perfil']">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </footer>

</ion-content>
